.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
}

label {
    font-size: 1.3rem;
}

input {
    margin: 0 0 1rem 0;
    height: 35px;
    font-size: 2rem;
}

.output {
    font-size: 1.5rem;
}